.contact{
    display: flex;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #100f0f 50%, rgb(5, 5, 5) 100%);
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.box {
    margin-bottom: 30px;
}
.box h1 {
    margin-top: 30px;
    text-align: center;
}
.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items:flex-start;
    justify-content:center
}
.btn  {
    display: flex;
    justify-content: center;
  }

  .input-area {
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 20px;
  }

  .textarea {
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: none;
    border: none;
    outline: none;
    font-size: 20px;
  }

.contact-button {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-color: white;
    padding: 0.7em 2em;
    border-radius: 1px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
  }
@media screen and (max-width: 600px) {
    .btn  {
        display: flex;
        justify-content: center;
      }
}