.experience {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to left, #100f0f 0%, rgb(5, 5, 5) 100%);
}

.experience h1 {
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 10px;
}

.vertical-timeline-element-date {
    color: #FFFFFF;
}

