.gallery {
    width: 100%;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.gallery .container {
    width: 1240px;
    margin: 0rem auto;
    padding: 1rem 0rem;
    
}

.pic-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.pic-slider .card img {
    padding: 25px;
}

.gallery h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}

.gallery h3 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.gallery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50px;
    width: 350px;
    height: 350px;
    align-items: center;
}


.gallery .card p {
    color: white;
    font-weight: 800;
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 1260px) {
    .gallery .container {
        width: 100%;
    }

    .gallery .card {
        max-width: 100%;
        margin: 25px;
    }

    .gallery h1 {
        font-size: 3rem;
    }

}