.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.09);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  z-index: 1;
}

.navbar-container img {
  width: 100px;
  filter: invert(97%) sepia(91%) saturate(128%) hue-rotate(234deg) brightness(120%) contrast(100%);
  cursor: pointer;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar-container .nav-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-menu .nav-item {
  margin: 15px;
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  font-size: 25px;
  border-bottom: 3px solid transparent;
}

.nav-menu .nav-item:hover {
  text-decoration: none;
  cursor: pointer;
  border-image: linear-gradient(45deg, #F6F2F2, #D9D9D9);
  border-image-slice: 1;
  width:100%;
}

.navbar-container .hamburger-menu
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar-container .hamburger-menu {
      display: block;
      cursor: pointer;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: fixed;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      display: flex;
      left: 0;
      transition: all 0.5s ease;
      position: fixed;
      top: 0px;
      width: 65%;
      height: 100vh;
      background-color: black;
      z-index: 1;
      justify-content: flex-start;
    }

    .nav-menu.active .nav-item {
      padding: 15px;
    }

    .nav-menu.active li a {
        color: white;
        padding: 1rem 0;
        font-size: 25px;
        border-bottom: none;
    }

    .nav-menu.active li:hover {
      background-color: rgba(231, 227, 232, 0.074);
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }

 
  
}
