.navigation {
    position: fixed;
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    z-index: 1;
    transition: 0.3s ease-in;
    overflow: hidden;
    color: black;
    background-image: linear-gradient(to left, #D7E1EC 0%, #FFFFFF 100%);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }

  
  .navigation img {
    width: 100px;
    height: auto;
    margin-left: 15px;
    /* filter: invert(97%) sepia(91%) saturate(128%) hue-rotate(234deg) brightness(120%) contrast(100%); */
    cursor: pointer;
  }
  
  .navigation-menu {
    margin-left: 200px;
    
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
    
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    
  }
  
  .navigation-menu li a {

    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    font-size: 25px;
    border-bottom: 3px solid transparent;
 
  }

  .navigation-menu li a:hover {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    font-size: 25px;
    cursor: pointer;
    border-image: linear-gradient(45deg, #000000, #D9D9D9);
    border-image-slice: 1;
    width:100%;
  }
  
  .hamburger-menu
  {

    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
    
  }
  
  @media screen and (max-width: 730px) {
    .navigation-menu {
      margin-left: 50px;
    }
  }
  
  
  @media screen and (max-width: 655px) {
    .hamburger-menu {
      display: block;
      z-index: 1;
    }

    .navigation {
        width: 100%;
    }

   
  
    .navigation-menu ul {
      flex-direction: column;
      position: fixed;
      top: 120px;
      left: 0;
      width: 100%;
      height: 90vh;
      background-color: rgba(0,0,0,0.9);
      border-top: 1px solid black;
      display: none;
      transition: 0.3s;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: white;
      width: 100%;
      padding: 3rem 0;
      font-size: 20px;
      
    }
  
    .navigation-menu li:hover {
      background-color: rgba(232, 227, 227, 0.074);
    }
  
    .navigation-menu.expanded ul {
      display: block;
    }

  }
  