.bigcontainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #100f0f 50%, rgb(5, 5, 5) 100%);
    align-content: center;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.about-container {
    width:90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-auto-rows: 400px;
    grid-template-rows: 500px;
    gap: 50px;
    margin-bottom: 50px;
}

.main-heading {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom:30px;
    color: white;
}
.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  
}

.thecard:hover{
    transform: rotateY(180deg);
  }
  
  .frontcard {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  color: white;
  text-align: center;
  }

  .frontcard-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .frontcard img {
    max-width:100%;
    max-height:100%;
    border-radius: 10%;
  }

  .frontcard2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: white;
    text-align: center;
  }

  .frontcard2 img {
    margin-top: 15px;
    max-width:100%;
    max-height:100%;
    border-radius: 5%;
}

.frontcard3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: white;
    text-align: center;
  }

  .frontcard3 img {
    margin-top: 15px;
    max-width:100%;
    max-height: 100%;
    border-radius: 5%;
}
  .backcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    text-align: center;
    align-items: center;
    transform: rotateY(180deg);
    color: white;
  }

  .frontcard h1, .backcard h1{
  font-family: 'zilla slab', sans-serif;   
  font-size: 33px;
  text-align: center;
  }

  .frontcard2 h1 {
  font-family: 'zilla slab', sans-serif;   
  font-size: 33px;
  text-align: center;
  }

  .github-button {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transform: translate(0);
    background-color: white;
    padding: 0.7em 2em;
    border-radius: 1px;
    box-shadow: 1px 1px 10px rgb(255 255 255 / 44%);
    transition: box-shadow 0.25s;
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    width: 30%;
  }

  @media screen and (max-width: 1100px) {
    .about-container {
        width: 50%;
        margin-right: 80px;
    }   

}

@media screen and (max-width: 710px) {
    .about-container {
        align-items: center;
        
    }   
}

@media screen and (max-width: 610px) {
    .about-container {
        margin-right: 200px;
    }   
}