.projects {
    width: 100%;
    background-image: linear-gradient(to right, #100f0f 50%, rgb(5, 5, 5) 100%);
}
.projects .card {
    padding: 0;
}

.projects .container2 {
    width: 1240px;
    margin: 0rem auto;
    padding: 1rem 0rem;
}

.pic-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.projects h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}

.projects h3 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.projects img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 350px;
    height: 550px;
    align-items: center;
}


.card a {
    color: white;
    font-weight: 800;
    font-size: 1.4rem;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1260px) {
    .projects .container2 {
        width: 100%;
    }

    .projects .card {
        max-width: 100%;
        margin: 25px;
    }

    .projects h1 {
        font-size: 3rem;
    }

}